html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--grey);
}

:root {
  --darkGrey: rgb(30,40,50);
  --grey: rgb(65,70,75);
  --white: rgb(255,255,255);
  --h1: 4rem;
  --p: 3rem;
}

#searchWord {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#searchWord button {
  font-size: var(--p);
  width: 20rem;
  height: 7.5rem;
  background-color: var(--darkGrey);
  font-family: 'Trirong', sans-serif;
  letter-spacing: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--white) 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  margin-left: 0.5rem;
}

#searchWord input {
  width: 30rem;
  height: 7.5rem;
  color: var(--white);
  font-size: var(--p);
  font-family: 'Trirong', sans-serif;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

h1 {
  margin-top: 3rem;
  font-family: 'Trirong', sans-serif;
  letter-spacing: 1.5rem;
  width: 60rem;
  height: 8rem;
  border: solid var(--white) 0.5rem;
  border-radius: 0.5rem;
  font-size: var(--h1);
  text-align: center;
  background-color: var(--darkGrey);
  color: var(--white);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: var(--p);
  font-family: 'Trirong', sans-serif;
  margin: 1rem;
  color: var(--white);
}

.joke {
  font-family: 'Trirong', sans-serif;
  font-size: var(--p);
  line-height: 5rem;
  text-align: center;
  background-color: var(--grey);
  color: white;
}

.container button {
  width: 35rem;
  height: 7.5rem;
  background-color: var(--darkGrey);
  font-family: 'Trirong', sans-serif;
  letter-spacing: 0.5rem;
  font-size: var(--p);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--white) 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  margin-top: 2rem;
}

.container {
  width: 120rem;
  margin: 0 auto;
  background-color: var(--grey);
  border: solid var(--white) 0.5rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}